header {
  background-color: #202020;
  color: #fff;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.hero {
  background-image: url('24\ PIT.jpg'); /* استبدل بمسار الصورة الكبيرة */
  background-size: cover; /* جعل الصورة تغطي كامل الخلفية */
  background-position: center center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
}


    

.hero-content { 
  max-width: 1000px;
  padding: 20px;
  height: 70px

}

.hero h1 {
  font-family: "Futurist Fixed-width", sans-serif;
  color: floralwhite;
  font-size: 60px;
  margin-bottom: 10px;
}

.hero p {
  color: #4c4d75;
  font-size: 20px;
  margin-bottom: 50px;
}

.btn {
  background-image: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  color: #fff;
  padding: 20px 40px;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: "Futurist Fixed-width", sans-serif;
  transition: transform 0.3s; /* إزالة الانتقال للظل */
  /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3); */ /* إزالة الظل الافتراضي */
}

.btn:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); /* تحويل الظل عند تحويم الماوس عليه */
  transform: scale(1.1); /* تكبير العنصر عند تحويم الماوس عليه */
}






.hero * {
  margin-bottom: -100px;
}



footer {
  background-color: #202020;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}


.instagram-link img {
  width: 70px;
  height: 70px;
}

.instagram-link img:hover{

  transform: scale(1.1);
 
}

.logo {
  float: right;
  width: 155px; /* قم بتغيير العرض حسب الحجم المطلوب */
  margin-right: 20px; /* إضافة هوامش من اليمين للشعار */
}

.logo:hover {

  transform: scale(1.3);

}



.contact-btn {
  display: inline-block;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: transform 0.4s ease; /* إضافة انتقال التحويل */
}

.contact-btn a {
  text-decoration: none;
  color: #000000;
}

.contact-btn:hover {
  transform: scale(1.1); /* تكبير حجم العنصر عند التحويم */
}



.gallery {
  display: flex;
  justify-content: space-around;
  margin: 2vh 0; /* استخدام وحدة vh للهوامش العلوية والسفلية */
}

.gallery img {
  max-width: 20vw; /* استخدام وحدة vw للقياسات العرضية */
  margin: 1em; /* استخدام وحدة em للهوامش */
}



/* تطبيق تكبير الصورة في الوسط عند تحويم الماوس */



.gallery img {
  --g: 4px;     /* the gap */
  --b: 12px;    /* border thickness */
  --normal-color: rgb(35, 49, 75); /* the normal color */
  --hover-color: #b9b9b9; /* the hover color */
  
  padding: calc(var(--g) + var(--b));
  --_c: #03030300 0 25%, var(--normal-color) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale( 0%);
  transition: .3s;
  transform-origin: center center; /* تعيين مركز التحويل */
}

.gallery img:hover {
  --_p: 75%;
  filter: grayscale(0%);
  transform: scale(1.1); /* تكبير الصورة عند تحويم الماوس */
  z-index: 1; /* تجعل الصورة في الأمام لتظهر فوق الصور الأخرى */
  --_c: #03030300 0 25%, var(--hover-color) 0 50%;
}


body {
  background-image: url('space.jpg'); /* استبدل 'space.jpg' بمسار صورة الفضاء */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* تجميد الخلفية عند التمرير */
  background-position: center; /* توسيط الصورة في الشاشة */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* ارتفاع العنصر يكون ارتفاع الشاشة بالكامل */
}

.line {
  font-family: 'Wendy One', sans-serif;
  color: white; /* لون النص */
  cursor: pointer;
  position: relative;
  text-shadow: -6px 6px 0 #186e67, -9px 9px 0 purple; /* لون الظلال */
  font-size: 4vw; /* تعديل وحدة القياس لتناسب عرض الشاشة */
}

.line:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -10px;
  left: -4px;
  transform: scaleX(0);
  box-shadow: 0 5px 0 #186e67, 0 10px 0 purple; /* لون خلفية الخط */
  background: white; /* لون الخلفية */
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.line:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}





